.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    /* Primary */
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);

    /* Social Media Colors */
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);

    /* Dark Theme Toggle */
    --toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

    /* Light Theme Toggle*/
    --toggle-light: hsl(230, 22%, 74%);

    /* Dark Theme Colors */
    /* BG */
    --very-dark-blue: hsl(230, 17%, 14%);
    /* Top BG Pattern */
    --very-dark-blue-top: hsl(232, 19%, 15%);
    /* Card BG */
    --dark-desaturated-blue: hsl(228, 28%, 20%);
    /* Text */
    --desaturated-blue: hsl(228, 34%, 66%);
    /* Text */
    --white: hsl(0, 0%, 100%);

    /* Light Theme Colors */
    /* White= BG */
    /* Top BG Pattern */
    --very-pale-blue: hsl(225, 100%, 98%);
    /* Card BG */
    --light-grayish-blue: hsl(227, 47%, 96%);
    /* Text */
    --dark-grayish-blue: hsl(228, 12%, 44%);
    /* Text */
    --very-dark-blue-text: hsl(230, 17%, 14%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

