.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    /* Primary */
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);

    /* Social Media Colors */
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(0, 0%, 0%);
    --instagram: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);

    /* Light Theme Toggle*/--toggle-light: hsl(230, 22%, 74%);
    
    /* Dark Theme Toggle */--toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

    /* Light Theme Colors */
    /* White= BG */
    /* Top BG Pattern */--very-pale-blue: hsl(225, 100%, 98%);
    /* Card BG */--light-grayish-blue: hsl(227, 47%, 96%);
    /* Text */--dark-grayish-blue: hsl(228, 12%, 44%);
    /* Text */--very-dark-blue-text: hsl(230, 17%, 14%);
    
    /* Dark Theme Colors */
    /* BG */--very-dark-blue: hsl(230, 17%, 14%);
    /* Top BG Pattern */--very-dark-blue-top: hsl(232, 19%, 15%);
    /* Card BG */--dark-desaturated-blue: hsl(228, 28%, 20%);
    /* Text */--desaturated-blue: hsl(228, 34%, 66%);
    /* Text */--white: hsl(0, 0%, 100%);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    align-items: center;
    background-color: var(--white);
}

.wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

/* header beginning*/
header {
    width: 320px;
}

header h1 {
    font-size: 1.5rem;
    margin-bottom: 0.20rem;
}

header .total {
    padding-bottom: 1.5rem;
    font-size: 14px;
    font-weight: 700;
    color: var(--dark-grayish-blue);
    border-bottom: solid 1px var(--dark-grayish-blue);
}

header .toggle-btn p {
    color: var(--dark-grayish-blue);
    font-weight: 700;
    font-size: 14px;
}
/* header ending */

/* --------------------------- */

/* first-row beginning */
.first-row {
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-row .card {
    border-radius: 7px;
    padding: 1.5rem 2rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    background-color: var(--very-pale-blue);
    cursor: pointer;
}

.first-row .card:hover {
    background-color: var(--light-grayish-blue);
}

.first-row .one {
    border-top: solid 5px var(--facebook);
}

.first-row .two {
    border-top: solid 5px var(--twitter);
}

.first-row .insta-gradient {
    background:linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    width: 320px;
    border-radius: 7px;
}

.first-row .three {
    /* height: 189px; */
    border-top: solid;
    border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1/ 2;
}

.first-row .four {
    border-top: solid 5px var(--youtube);
}

.first-row .card .img-name {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.first-row .card .img-name img {
    width: 20px;
    margin: 0 .20rem;
}

.first-row .card .img-name p {
    font-weight: 700;
    color: var(--dark-grayish-blue);
    font-size: 12px;
    margin: 0 .20rem;
}

.first-row .card .fans {
    color: var(--very-dark-blue-text);
    font-weight: 700;
    font-size: 3rem;
}

.first-row .card .followers {
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    font-size: .70rem;
    letter-spacing: .3rem;
    margin-bottom: 1.5rem;
}

.first-row .card .img-number {
    display: flex;
    align-items: center;
}

.first-row .card .img-number img {
    margin: 0 .15rem;
}

.first-row .card .img-number .new-fans {
    margin: 0 .15rem;
}

.first-row .card .green {
    color: var(--lime-green);
    font-size: .70rem;
    font-weight: 700;
}

.first-row .card .red {
    color: var(--bright-red);
    font-size: .70rem;
    font-weight: 700; 
}
/* first-row ending */

/* ---------------------------------*/

/* Second-row */
.second-row {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.second-row h2 {
    width: 320px;
}

.second-row h2 {
    color: var(--dark-grayish-blue);
    margin-bottom: .50rem;
}
.second-row .box {
    cursor: pointer;
    background-color: var(--very-pale-blue);
    border-radius: 7px;
    margin: 1rem 0;
    padding: 1.5rem;
    width: 320px;
}

.second-row .box:hover {
    background-color: var(--light-grayish-blue);
}

.second-row .box .view-img {
    /* float: right; */
    display: flex;
    justify-content: space-between;
}

.second-row .box .view-img p {
    color: var(--dark-grayish-blue);
    font-weight: 700;
    font-size: 14px;
}

.second-row .box .view-img img {
    width: 20px;
}

.second-row .box .num-percentage {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.second-row .box .num-percentage p {
    color: var(--very-dark-blue-text);
    font-weight: 700;
    font-size: 2rem;
}

.second-row .box .arrow-percentage {
    display: flex;
    align-items: center;
}

.second-row .box .arrow-percentage img {
    width: 10px;
    height: 5px;
}

.second-row .box .arrow-percentage p {
    font-size: 12px;
    font-weight: 700;
    margin: 0 .20rem;
}

.second-row .box .arrow-percentage .green {
    color: var(--lime-green);
}

.second-row .box .arrow-percentage .red {
    color: var(--bright-red);
}
